<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luoye.whr.pixivGallery">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.home.setting.SettingActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".view.home.HomeActivity" />
        <activity
            android:name=".view.preview.PreviewActivity"
            android:theme="@style/TranslucentStyle" />
        <activity android:name=".view.welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.preview.FullImgPinchActivity" />
        <activity android:name=".view.search.SearchActivity" />
        <activity android:name=".view.search.SearchListActivity" />
        <activity android:name=".view.login.LoginActivity" />
    </application>

</manifest>